body {
  font-family: "Roboto", sans-serif;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
}

/*NAVIGATION BAR*/

.nav-bar {
  background-color: #ffc017;
  height: 60px;
  padding-inline: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.scrolled-bar {
  background-color: white;
}

nav ul {
  width: 400px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-size: 0.8rem;
  align-items: baseline;
}

nav ul li,
.aside-footer ul li,
.tag,
.bookmark {
  cursor: pointer;
}

.nav-btn {
  border-style: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  background-color: black;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
}

.scrolled-btn {
  background-color: #1a8917;
}

/*HERO SECTION*/

#hero-section {
  height: 300px;
  padding-left: 150px;
  display: flex;
  justify-content: space-between;
  background-color: #ffc017;
  border-bottom: 1px solid black;
}

.hero-description {
  align-self: center;
  line-height: 7rem;
}

h1 {
  font-family: "Spectral", serif;
  font-weight: 500;
  font-size: 5rem;
}

.hero-description p {
  line-height: 1rem;
}

#hero-btn {
  border-style: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  background-color: black;
  padding: 10px 40px;
  border-radius: 20px;
  cursor: pointer;
}

/* TRENDING SECTION */

#trending-section {
  padding-inline: 150px;
  padding-top: 35px;
  padding-bottom: 2.5rem;
  margin-bottom: 3.5rem;
  border-bottom: 0.5px solid rgba(206, 206, 206, 0.365);
}

.trending-section-header {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.trending-section-header img {
  margin-right: 0.5rem;
}

.trending-cards-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 2.5rem;
}

/* TRENDING SECTION CARDS */

.trending-card {
  width: 30%;
  display: flex;
  font-size: 0.8rem;
  align-items: baseline;
}

.card-number p {
  font-size: 1.8rem;
  font-weight: 700;
  color: #e7e7e6;
  margin-right: 1rem;
}

.card-author {
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  font-weight: 500;
}

.author-picture-round img {
  border-radius: 50%;
  width: 1.2rem;
  margin-right: 0.5rem;
}

.author-picture img {
  width: 1.2rem;
  border-radius: 20%;
  margin-right: 0.5rem;
}

.author-name-span {
  color: #838383;
}

.card-article-title p {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.card-footer {
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  color: #838383;
}

/*LOWER MAIN SECTION*/

#lower-main-section {
  margin-inline: 150px;
  display: flex;
  justify-content: space-between;
}

/*ARTICLE CARDS*/

.article-card {
  display: flex;
  justify-content: space-between;
  width: 580px;
  margin-bottom: 2.5rem;
}

.card-left-content {
  width: 430px;
  margin-right: 20px;
}

.main-content {
  margin-top: 0.5rem;
}

.main-content h4 {
  font-size: 1rem;
  font-weight: 700;
}

.main-content p {
  font-size: 0.8rem;
  color: #838383;
  margin-top: 0.5rem;
}

.related-tag {
  display: inline-block;
  background-color: #e7e7e6;
  padding-block: 0.2rem;
  padding-inline: 0.4rem;
  border-radius: 10px;
}

.bookmark {
  margin-left: auto;
}

.card-right-img img {
  width: 150px;
}

/*ASIDE*/

aside {
  width: 260px;
  position: sticky;
  top: 90px;
  z-index: 1;
  align-self: flex-start;
}

/*TAG SECTIONS*/

.tags-section-header p {
  font-size: 0.7rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  font-size: 0.7rem;
  color: #838383;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(206, 206, 206, 0.658);
}

.tag {
  border: 1px solid rgba(206, 206, 206, 0.658);
  border-radius: 3px;
  padding: 0.5rem;
}

/*FOOTER*/

.aside-footer ul {
  margin-top: 1rem;
  list-style: none;
  font-size: 0.7rem;
  color: #838383;
  display: flex;
  flex-wrap: wrap;
}

.aside-footer ul li {
  margin-inline: 0.3rem;
  margin-block: 0.3rem;
}
